:root{


--primary:#2563eb;

--dark:#111827;

--light:#f3f4f6;

--shadow:0 10px 25px rgba(0,0,0,.15);


}



*{

margin:0;

padding:0;

box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

font-family:Arial,sans-serif;

background:var(--light);

color:#333;

}




/* Navbar */


.navbar{


display:flex;


justify-content:space-between;


align-items:center;


padding:20px 10%;


background:white;


box-shadow:var(--shadow);


position:sticky;


top:0;


z-index:10;


}



.logo{

font-size:25px;

font-weight:bold;

color:var(--primary);

}



.navbar ul{


display:flex;


gap:25px;


list-style:none;


}



.navbar a{


text-decoration:none;


color:#333;


font-weight:bold;


}





.navbar a:hover{

color:var(--primary);

}








/* Hero */


.hero{


display:flex;


align-items:center;


justify-content:space-around;


padding:80px 10%;


gap:40px;


}



.hero h1{


font-size:45px;


}



.hero p{


margin:20px 0;


line-height:1.7;


}



button{


background:var(--primary);


color:white;


padding:12px 30px;


border:none;


border-radius:8px;


cursor:pointer;


transition:.3s;


}



button:hover{


transform:translateY(-5px);


}




.hero-image img{


width:300px;


height:300px;


border-radius:50%;


object-fit:cover;


animation:float 3s infinite alternate;


}




@keyframes float{


from{

transform:translateY(0);

}


to{

transform:translateY(-20px);

}


}







section{


padding:60px 10%;


}



h2{


text-align:center;

margin-bottom:30px;


}







/* Skills Grid */


.skills{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:20px;


}



.skills div{


background:white;


padding:30px;


text-align:center;


border-radius:10px;


box-shadow:var(--shadow);


transition:.3s;


}



.skills div:hover{


transform:scale(1.05);


}









/* Projects */


.projects{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:25px;


}



.card{


background:white;


padding:30px;


border-radius:15px;


box-shadow:var(--shadow);


transition:.4s;


}



.card:hover{


transform:translateY(-15px);


}









/* Form */


form{


max-width:500px;


margin:auto;


display:flex;


flex-direction:column;


gap:15px;


}



input,
textarea{


padding:15px;


border:1px solid #ccc;


border-radius:8px;


font-size:16px;


}




textarea{

height:120px;

}







footer{


background:var(--dark);


color:white;


text-align:center;


padding:25px;


}









/* Responsive */


@media(max-width:900px){



.hero{


flex-direction:column;


text-align:center;


}



.skills,
.projects{


grid-template-columns:repeat(2,1fr);


}



.navbar ul{


gap:10px;


}



}








@media(max-width:600px){



.navbar{


flex-direction:column;


gap:20px;


}



.navbar ul{


flex-direction:column;


text-align:center;


}



.skills,
.projects{


grid-template-columns:1fr;


}



.hero h1{


font-size:32px;


}


}