*{

margin:0;

padding:0;

box-sizing:border-box;

}


body{

font-family:Arial,sans-serif;

background:#f4f4f4;

padding:30px;

}



h1{

text-align:center;

margin-bottom:30px;

}


h2{

margin:25px 0 15px;

}





/* =====================
NAVBAR FLEX
===================== */


.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#111;

padding:20px;

color:white;

}



.logo{

font-size:25px;

font-weight:bold;

}



.menu{

display:flex;

gap:25px;

}



.menu a{

color:white;

text-decoration:none;

}








/* Common Box */


.box{

background:#2563eb;

color:white;

padding:20px;

margin:5px;

text-align:center;

border-radius:8px;

font-weight:bold;

}






/* =====================
FLEX GROW SHRINK BASIS
===================== */


.grow-box{


display:flex;

background:white;

height:150px;


}



.grow-one{


flex:1 1 100px;


}



.grow-two{


flex:2 1 100px;


}



.grow-three{


flex:1 1 100px;


}



/*

flex:

flex-grow

flex-shrink

flex-basis


Box 2 gets double space

*/








/* =====================
ORDER
===================== */


.order-box{


display:flex;

background:white;


}



.order-one{

order:3;

}



.order-two{

order:1;

}



.order-three{

order:2;

}








/* =====================
FLEX WRAP
===================== */


.wrap-box{


width:500px;

height:250px;

background:white;


display:flex;


flex-wrap:wrap;


align-content:center;


gap:10px;


}



.wrap-box .box{


width:140px;


}









/* =====================
ALIGN SELF
===================== */


.align-box{


height:250px;

background:white;


display:flex;


align-items:center;


}


.special{


align-self:flex-end;


}










/* =====================
CARDS FLEX
===================== */


.cards{


display:flex;


gap:20px;


}



.card{


background:white;


padding:25px;


border-radius:10px;


flex:1 1 250px;


}




.card h3{


margin-bottom:10px;


}








/* =====================
RESPONSIVE FLEX
===================== */


@media(max-width:700px){



.navbar{


flex-direction:column;


gap:20px;


}



.menu{


flex-direction:column;


align-items:center;


}



.cards{


flex-direction:column;


}



.wrap-box{


width:100%;


}



}