*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

font-family:Arial,sans-serif;

padding:30px;

background:#f4f4f4;

}



h1{

text-align:center;

margin-bottom:40px;

}



h2{

margin:25px 0 15px;

}



/* =====================
PX UNIT
===================== */


.px-box{


width:300px;


height:100px;


background:#2563eb;


color:white;


display:flex;


justify-content:center;


align-items:center;


}





/* =====================
PERCENTAGE UNIT
===================== */


.parent{


width:800px;


height:150px;


background:white;


}



.percent-box{


width:50%;


height:100%;


background:#16a34a;


color:white;


display:flex;


align-items:center;


justify-content:center;


}








/* =====================
EM UNIT
===================== */


.em-box{


font-size:20px;


width:15em;


padding:2em;


background:#f97316;


color:white;


}



/*

1em = parent font-size

*/







/* =====================
REM UNIT
===================== */


.rem-box{


font-size:2rem;


padding:1rem;


background:#7c3aed;


color:white;


}



/*

1rem = root(html) font-size

Default 16px

*/







/* =====================
VIEWPORT UNIT
===================== */


.viewport-box{


width:50vw;


height:20vh;


background:#dc2626;


color:white;


display:flex;


align-items:center;


justify-content:center;


}









/* =====================
RESPONSIVE CARDS
===================== */


.cards{


display:flex;


gap:20px;


}



.card{


width:30%;


padding:30px;


background:white;


text-align:center;


border-radius:10px;


}




@media(max-width:700px){


.cards{


flex-direction:column;


}



.card{


width:100%;


}


}