/* Learning note: Style28 | module-2 (CSS)/pratice/style28.css */
*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

font-family:Arial,sans-serif;

background:#f4f4f4;

padding:40px;

}



h1{

text-align:center;

margin-bottom:30px;

}



h2{

margin:25px 0 15px;

}







/* Common Box */


.circle,
.polygon,
.hover-shape,
.mask-box{


width:250px;

height:180px;

background:#2563eb;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:20px;

font-weight:bold;


}








/* =====================
1. CIRCLE CLIP PATH
===================== */


.circle{


clip-path:circle(50%);


}








/* =====================
2. POLYGON
===================== */


.polygon{


clip-path:

polygon(

50% 0%,

100% 100%,

0% 100%

);


}








/* =====================
3. IMAGE CLIPPING
===================== */


.image-box{


width:500px;


clip-path:

ellipse(50% 40%);


}





.image-box img{


width:100%;


display:block;


}








/* =====================
4. HOVER CLIP ANIMATION
===================== */


.hover-shape{


transition:0.5s;


clip-path:

circle(30%);


}



.hover-shape:hover{


clip-path:

circle(70%);


}








/* =====================
5. MASKING
===================== */


.mask-box{


background:

linear-gradient(

45deg,

#2563eb,

#e11d48

);


mask-image:

linear-gradient(

black,

transparent

);


-webkit-mask-image:

linear-gradient(

black,

transparent

);


}